@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "High Memory";
}

<h2>High Memory</h2>

<ul>
    @for (int i = 0; i < ViewBag.Num; i++)
    {
        <li>@ViewBag.Message</li>
    }


</ul>