@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Problematique</h1>
    <p class="lead">This web application replicates problematic scenarios of a web application like Crash, Hang, High CPU etc</p>
    <p><a href="~/Home/HighCpu"  class="btn btn-primary btn-lg">CPU Spike &raquo;</a></p>
    <p><a href="~/Problematique/Crash" class="btn btn-primary btn-lg">Crash &raquo;</a></p>
    @*<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    
</div>