@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Problematique</h1>
    <p class="lead">I am plaing with this web application and simulating Crash, Hang, High CPU etc</p>
    <p><a href="~/Problematique/HighCpu"  class="btn btn-primary btn-lg">CPU Spike &raquo;</a></p>
    <p><a href="~/Problematique/Crash" class="btn btn-primary btn-lg">App Crash &raquo;</a></p>
    <p><a href="~/Problematique/HighMemory" class="btn btn-primary btn-lg">High Memory &raquo;</a></p>
    @*<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    
</div>
